[2018-12-19 09:07] nilesh-tawari commented on #707
@MaxUlysse, I tried to use it with conda.

I created a config file for cluster and conda env using the yml file
[code]
And run Sarek using command,
[code]
I get error due to Singularity image,
[code]
Thanks

[2018-12-19 09:16] MaxUlysse commented on #707
If you don't specify any profile, the default would be standard which is using Singularity.
I think this is the issue here.

I'm sorry, I'm in a meeting at the moment, I'm afraid I can't try much right now, but if you can, I think it would be easier to make a specific profile for this usage.

[2018-12-19 15:50] #701 closed

[2018-12-19 15:50] #704 closed

[2018-12-20 06:37] nilesh-tawari commented on #707
@MaxUlysse Thanks for the hint, after creating specific profile, I am able to run Sarek with conda.

[2018-12-21 19:36] #699 closed

[2018-12-30 17:41] MaxUlysse commented on #540
Hi,
Sorry for not answering earlier, I'm on vacation at the moment.
We could make this bed file optional, but as it's used to speed up the pipeline, I won't advise going that way.
I think we'll go for guidelines on how to make one, or directly make one and ship it using iGenomes.

[2018-12-31 03:06] nilesh-tawari commented on #540
@MaxUlysse , instructions to make + shipping with iGenomes sounds perfect.  We can make this after you are back.

[2019-01-02 12:48] nilesh-tawari opened #713 "RunVcftools fails while annotating manta vcf"
While annotating manta vcf,  RunVcftools fails.

Below is the command used,

[code]

Below is the error,

[code]

[2019-01-14 11:42] nicweb opened #714 "markduplicates will fail when no lane information is given in sample.tsv"
When there is no lane information given in the sample.tsv markduplicates will fail with

htsjdk.samtools.SAMFormatException: Error parsing SAM header. Problem
parsing @RG key:value pair.

as readgroup ID is empty.

Would be nice to check TSV before  execution or autoset empty lane with sampleID or similar to avoid downstream execution halt, or update documentation that field should not be empty.

[2019-01-14 12:31] MaxUlysse commented on #714
That's definitively something that needs to be done.

And it would go perfectly with #626 as you proposed.

I'll work on that ASAP

[2019-01-25 08:31] nilesh-tawari commented on #540
@MaxUlysse can you breifly describe guidelines on how to make bed file? I will make and test it. Thanks

[2019-01-25 12:32] MaxUlysse commented on #540
That's actually a very good idea.
We have some small documentation about it here:
https://github.com/SciLifeLab/Sarek/blob/master/docs/INTERVALS.md
But it definitively should be updated on how to actually make such a file.

[2019-01-25 14:43] nilesh-tawari commented on #540
@MaxUlysse Thank you, I am not able to reproduce the commands listed there, can you look into, here are the commands on the page (how is tiny.list generated?),
[code]

[2019-01-31 09:35] MaxUlysse commented on #545
Rendered obsolete by the soon to come Nextflow modules

[2019-01-31 09:35] #545 closed

[2019-01-31 09:35] MaxUlysse commented on #538
fixed in #711

[2019-01-31 09:35] #538 closed

[2019-01-31 09:40] MaxUlysse commented on #370
Completed in #697

[2019-01-31 09:40] #370 closed

[2019-01-31 09:42] MaxUlysse commented on #204
Falls into iGenomes territory now

[2019-01-31 09:42] #204 closed

[2019-02-09 02:11] jongtaek-kim commented on #691
patients,

Has this been addressed yet? This wastes the time and computing resources exponentially as the number of patients increase.
I am resorting to running each patient T/N separately.

[2019-02-11 08:53] MaxUlysse commented on #691
Hi,
I'm sorry, I didn't manage to find time to implement that yet.
But it's definitively something that I plan for our next release.

[2019-02-14 15:56] MaxUlysse commented on #691
The bug encountered by @ggabernet will be fixed by #728.
Concerning the organization of files, is this just the vcfs that are posing an issue for you?
or would you want separate directories for the bams as well?

[2019-02-14 16:01] ggabernet commented on #691
I would say the vcfs would be enough. Thanks for checking this!

[2019-02-14 19:42] MaxUlysse commented on #691
Thanks for your input.
@jongtaek-kim what is your use case?

[2019-02-15 05:01] jongtaek-kim commented on #691
@MaxUlysse
I am running the pipeline on exome T/N samples to detect somatic snvs and indels in my academic health center's HPC.  Thanks for the pipeline repo.

[2019-02-15 08:18] MaxUlysse commented on #691
@jongtaek-kim I can see why you're interested in this issue.
I does indeed makes a lots of sense to have that for exome.

Are VCFs organized in patient specific folder enough for you ?
Are you interested in the same thing for BAMs as well ?

[2019-02-17 06:03] jongtaek-kim commented on #691
Are you interested in the same thing for BAMs as well ?

After doing some thinking, I think both are good ideas to implement.

[2019-02-20 09:18] MaxUlysse commented on #691
OK, so the VCFs are to be separated in PR #728
I'll work on the Bams later on

[2019-02-20 12:25] MaxUlysse opened #729 "Improve VEP runtime"
**Describe the bug**
VEP is very slow.
2h50 for a VCF from the DREAM challenge (30X) on AWS

**Expected behavior**
Should be faster

**Container engine (please complete the following information):**
 - Engine: Docker

**Container (please complete the following information):**
 - tag: latest

**Sarek (please complete the following information):**
 - version: dev

[2019-02-21 08:56] alneberg opened #730 "Look into using spark for gatk"
It seems that gatk now only supports parallelism in their tools through spark (see https://github.com/broadinstitute/gatk/issues/2345). I have no idea how spark works, but it might be worth looking into? `CreateRecalibrationTable` and `RecalibrateBam` and maybe other processes currently take a really long time. Maybe this can be improved?

[2019-02-25 06:40] Anuragksingh opened #731 "Error with annotate.nf"
I'm trying to run annotate.nf on my vcf files (called using strelka). With both snpeff and vep I am repeatedly facing issues. Any help or suggestion will be very grateful.

**Error for vep:**
  .command.sh: line 2: /opt/vep/src/ensembl-vep/vep: No such file or directory

**Command:** nextflow run /workspace/pipeline/sarek/Sarek/annotate.nf --annotateTools Strelka --genome_base /workspace/pipeline/

[2019-02-25 08:40] MaxUlysse commented on #731
Hi,
I'm guessing you're using the containers tagged `lastest`, forcing the use of a previous version like `2.2.1` or even `2.2.2` should definitively fix that.
Can you try the same command with `--tag 2.2.1`, or `--tag 2.2.2`?
What is your use case, and where are you running Sarek?

[2019-02-26 04:58] jongtaek-kim commented on #691
@MaxUlysse Thank you so much.

Also, appreciate getting the targetBED fixed. [https://github.com/SciLifeLab/Sarek/pull/728/commits/eb3dfb1649e4f374b84a6c88a905435c97b0b7fe](url)
Did little test run on dev branch and can attest --targetBED paramter worked.
This goes well with my exome sequencing where I have to provide a bed file.
Will run the whole thing with #728 merged dev and will see how it go

[2019-02-26 16:04] Anuragksingh commented on #731
Hello,
Thanks for the prompt help. It's working perfectly fine with the --tag 2.2.1. We have some exome sequencing data and we are trying to call variants from them. We are using it on our computing cluster.
Thanks.

[2019-02-26 16:06] #731 closed

[2019-02-26 16:06] MaxUlysse commented on #731
Don't hesitate if you have any more issue ;-)

[2019-02-27 10:27] Anuragksingh opened #734 "Error with Manta in SomaticVC.nf"
Hello,
We are trying to run manta with SomaticVC.nf, but unfortunately we are getting some error message which is appended below. Just to add, running manta with germlineVC.nf works perfectly fine. Any help will be really useful.
**Error message**
N E X T F L O W  ~  version 19.01.0
Launching `/home/sabari/anuragks/Sarek/somaticVC_exome.nf` [sad_nobel] - revision: b87db313be
WARN: There's no proce

[2019-02-27 10:31] MaxUlysse commented on #734
Can you access the `.command.log` and the `.command.error` in the ` /tmp/A02_sarek/work/23/e65dc3b2d4881e61c66257185cc79e` folder?

[2019-02-27 12:06] Anuragksingh commented on #734
[command.err.txt](https://github.com/SciLifeLab/Sarek/files/2910182/command.err.txt)
[command.log](https://github.com/SciLifeLab/Sarek/files/2910183/command.log)

I have attached the command.log and command.err (command.err.txt) files . Kindly let me know if any other information is required.
Thanks

[2019-02-27 12:15] MaxUlysse commented on #734
I do think it's due to the fact, that you have too few high confidence read pairs:
Look at the last lines in the error and log:
[code]

[2019-02-27 12:42] Anuragksingh commented on #734
So basically manta is not able to detect any sv in this sample, is it correct to say? Just wanted to ask , in that case isn't the workflow should say **no variants detected** rather than showing an error.  I will try to run manta with other samples to get an idea about it, and will let you know.
Thanks for the prompt help.

[2019-02-27 13:06] MaxUlysse commented on #734
I see your point, I'll think about it.

I can also see that you are using this for exome sequencing, since you rename somaticVF.nf.
So I assume that you're using Sarek on WES.
We haven't yet add the `--exome` flag on Manta yet, cf : https://github.com/Illumina/manta/blob/master/docs/userGuide/README.md#exometargeted
Would that be of interest for you?

[2019-02-27 14:05] Anuragksingh commented on #734
Yes, I am working on WES data. As you said, --exome flag is still not applied on the manta. Maybe this also has some effect on the error that we see here. By the way, adding --exome flag to manta would be a great help, as we have some analysis concerning sv from our WES data.
Thanks

[2019-02-27 14:12] MaxUlysse commented on #734
PR #735 regarding that matter has just been merged on `dev`.
You can know try it.

[2019-02-27 14:26] Anuragksingh commented on #734
Ok, will check.
Thanks

[2019-02-28 10:00] Anuragksingh opened #739 "Panel of Normals with Mutect2"
Hello,
Just a query if Panel of Normals with Mutect2  is supported here. If not any plans to implement it here?

Thanks

EDIT: Moved part of this issue to #763

[2019-02-28 10:14] MaxUlysse commented on #739
Hi,
We're currently still working on this PoN with MuTect2, so it will be supported.

Regarding ASCAT, I'll check, but I'm not sure we're doing anything for exome with ASCAT yet.
I'll make another issue for that.

[2019-02-28 10:15] #691 closed

[2019-02-28 10:15] #707 closed

[2019-02-28 10:15] #729 closed

[2019-02-28 10:16] #328 closed

[2019-02-28 12:12] Anuragksingh commented on #739
Thanks for the information. Looking forward for these improvements.

[2019-03-01 08:48] MaxUlysse commented on #540
Hi @nilesh-tawari, I'm sorry, I totally missed your comment.
Did you managed to sort this intervals problem out, or not at all?

[2019-03-05 10:22] asura117 opened #745 "Specifying interval for targeted sequencing"
Hi,
I am aligning some sequencing data using the SAREK main.nf. How can I specify a intervals.bed file specific for my targeted gene panel instead of the default wgs_calling_regions_CAW.list in the SAREK germlineVC.nf pipeline shell command.
Thanks

[2019-03-05 10:34] MaxUlysse commented on #745
Hi @asura117 `--intervals` should do the trick to change this default list, but it's mainly used to chop up the genome for speeding up variant calling.
You might want to use `--targetBED` instead

[2019-03-05 10:38] asura117 commented on #745
Thanks for the quick response, will try --targetBED.

[2019-03-05 13:58] #734 closed

[2019-03-05 14:05] Anuragksingh opened #746 "Snpeff for SV annotation?"
Hello,
It would be helpful to  know if Snpeff can annotate structural variants or not, reason being vep is able to annotate, but snpeff always throws some error. Also, does the latest tag on vepgrch38 corresponds to 2.3 version or is it still based on older ones?

Thanks

[2019-03-05 15:43] Anuragksingh commented on #746
Thanks for the info.

[2019-03-05 15:43] #746 closed

[2019-03-05 17:13] asura117 opened #748 "ERROR ~ For input string: "status""
Hi,
I am using the --sample sample.tsv option for the main.nf option.
nextflow run SciLifeLab/Sarek/main.nf
--sample path/sample.tsv
--genome_base path/GATK_b37_reference/b37
 --genome GRCh37 --intervals /path/xyz.bed

However I am getting the following error message
N E X T F L O W  ~  version 19.01.0
Launching `SciLifeLab/Sarek` [deadly_dalembert] - revision: a4ed8f34dc [master]
WARN: There's no

[2019-03-06 07:58] KochTobi commented on #748
### Hi there,
Could you check
* [ ] if it works when you write something in the gender column
* [ ] whether you separated the columns by tabs or by spaces
* [ ] your `TSV` file only includes the relevant data and not the header line

Those are things that I usually miss :)

[2019-03-06 08:08] nilesh-tawari commented on #540
@MaxUlysse, I wasn't able to fix the issue. Can you suggest?

[2019-03-06 09:19] MaxUlysse commented on #540
@nilesh-tawari
So if I remember well, you have a bed file generated from GTF that does not work with GATK.
So you're trying to generate a new one?

[2019-03-06 09:27] nilesh-tawari commented on #540
@MaxUlysse Yes, the bed file from GTF gives error `ERROR MESSAGE: Badly formed genome loc`. So trying to generate proper bed file for WGS

[2019-03-06 09:28] MaxUlysse commented on #540
Which GTF did you start with?

[2019-03-06 09:30] nilesh-tawari commented on #540
I used GTF from ensembl

[2019-03-07 15:38] KochTobi commented on #748
Did any of this resolve the issue?

[2019-03-07 15:48] Anuragksingh opened #750 "Error with RunVcftools on a Manta VCF"
Hello,
I was trying to run vep to annotate manta. I am stuck with the below appended error.

N E X T F L O W  ~  version 18.10.1 5003
Sarek - Workflow For Somatic And Germline Variations ~ 2.3 - ef015b173c
Command Line: nextflow run /home/anurag/tools/sarek_2.3_fix1/Sarek-master/annotate.nf --genome GRCh38 --genome_base /home/anurag/tools/sarek_2.3_fix1/Sarek-master/References/GRCh38/ --tag latest

[2019-03-07 18:05] MaxUlysse commented on #750
Hi,
It's actually an issue with VCF tools.
I think I'll disable that QC tool for Manta VCFs, or try to catch this output error.
Try relaunching with `--noReports`

[2019-03-10 09:05] Anuragksingh commented on #750
It works perfectly fine with --noReports.

Thanks

[2019-03-10 09:05] #750 closed

[2019-03-12 19:05] ggabernet opened #754 "Reference for ASCAT required even when not calling with ASCAT"
Hi Maxime, thank you for incorporating ASCAT to the toolset of Sarek, it will be very useful for CNV analysis!
However, I have the issue now that when executing the somatic VC procedure, even when ascat is not used, it requires the ascat reference:

[code]

The command executed was:
[code]

Would it be possible to only check for this reference file if the tool ASCAT is used for calling?

[2019-03-12 19:05] apeltzer opened #755 "Provide ASCAT GC File via iGenomes"
**Is your feature request related to a problem? Please describe.**

We found the https://github.com/SciLifeLab/Sarek/blob/master/docs/ASCAT.md GC correction part to be missing on iGenomes at the moment and we'd have to manually create it.

**Describe the solution you'd like**

Maybe add it to iGenomes for GRCH37 and GRCH38 ?

**Describe alternatives you've considered**

Creating it on our own ;-)

[2019-03-13 08:42] MaxUlysse commented on #754
That's a very good point.
I'll look into it.

[2019-03-13 08:46] MaxUlysse commented on #755
Ohhh, sorry about that, I have the files on UPPMAX webexport, and on an S3 bucket, but haven't manage to find time to synchronize it.
I'll ask Phil to help me out with it.
In the mean time, you can download them here: https://export.uppmax.uu.se/sllstore2017079/Sarek/

[2019-03-13 09:06] apeltzer commented on #755
Ok nice - I downloaded them and will put them in our iGenomes folder. Might just make sense to have them in the iGenomes resource too for the future 👍

[2019-03-13 09:46] ggabernet commented on #754
thank you!

[2019-03-14 13:22] asura117 commented on #748
resolved. removed header from tsv.

[2019-03-14 13:22] #748 closed

[2019-03-14 13:23] MaxUlysse commented on #748
Thanks @KochTobi for the help

[2019-03-14 13:30] asura117 opened #759 "fastqc not running on soft linked files"
Running main.nf
[code]
The files are present and the links are correct.
[code]

[2019-03-14 13:33] MaxUlysse commented on #759
Never had this issue before.
Can you try with `--noReports` to skip all QC tools so that I can see if this issue is happening with other tools as well?

[2019-03-15 10:40] #745 closed

[2019-03-18 08:55] MaxUlysse opened #761 "Add variants comparison between multiple T/N pairs from the same patient."
**Is your feature request related to a problem? Please describe.**

It would be good to have a script that show which variants are added or lost between a tumor and a relapse.

**Describe the solution you'd like**

I would like a script to compare variants between multiple T/N pairs from the same patient.

**Describe alternatives you've considered**

Comparing each files...

**Additional context**

[2019-03-18 15:20] malinlarsson opened #762 "Check slurm settings in uppmax-slurm.config"
Make sure that memory configurations for processes run in the 'core' queue are correct.

For example, in processes that  have queue='core', cpu=1 (or higher) and memory = {params.singleCPUMem * task.attempt I think there will be problems if the process needs to be restarted. The second time it will be started with too much memory given the number of cpus, and I think it might lead to problems like

[2019-03-19 06:53] Anuragksingh opened #763 "ASCAT with WES"
Hello,
I had some doubts over [...] ascat. It would be really helpful if you can provide some insights about that.
[...]
Can we use the available ascat directly on WES data. I guess the creation of  BAF and LogR  files from bam  would be same for WES data also. Or do we need to apply additional filters to use ascat on WES data?
For reference kindly see this link:
https://github.com/Crick-CancerGen

[2019-03-19 09:37] MaxUlysse opened #764 "Questions about Strelka -BP"
From @Anuragksingh

[2019-03-19 09:37] MaxUlysse commented on #764
Hi @Anuragksingh
Regarding Strelka BP (that you can access with the `--StrelkaBP` option on the command line in Sarek)
Currently it does include the candidateSmallIndels from Manta (hence the BP), but only if you run Manta at the same time.
[code]
I'll modify that so that it can fetch it, if you already run Manta previously, so you don't have to re-run it again.
And the `--exome` flag is enabled o

[2019-03-19 09:45] MaxUlysse commented on #763
Hi @Anuragksingh
Running ASCAT for WES is definitively something that we're thinking about.
I remember reading about this link before, I'll definitively look more into it.
Thanks again for all your interest in this project

[2019-03-19 10:03] #554 closed

[2019-03-19 10:05] MaxUlysse commented on #504
Duplicate with #559

[2019-03-19 10:05] #504 closed

[2019-03-19 10:08] #667 closed

[2019-03-19 13:29] Anuragksingh commented on #764
Thanks a lot for the info.

[2019-03-21 16:06] kokyriakidis opened #767 "Max CPUs Workstation Utilization"
Hello,
When I run the pipeline with singularity profile on my local workstation with 10 cores and 20 threads I see that fastqc and bwa run on 2 cores each only and not use the max cpus stated at base.config file. Why is that? Can I change it in order to take full advantage of my resources?

[2019-03-21 16:21] KochTobi commented on #767
The problem is that, depending on your profile, there is no process specific resource definition in the standard profiles (see #760 ). `max_cpus` only provide an upper limit. You can change your profile or provide a local profile file with settings comparable to https://github.com/SciLifeLab/Sarek/blob/master/conf/uppmax-localhost.config. Alternatively you could include the https://github.com/SciL

[2019-03-21 16:27] kokyriakidis commented on #767
So, since I have not downloaded anything, should I just clone this resource.config in my workspace and define it in the nextflow command using -c?

[2019-03-21 16:29] KochTobi commented on #767
Yes that would be one solution. I guess we should move the content of this file or a refined version into the base.config. But for now I think it is the easiest option.

[2019-03-21 16:33] KochTobi commented on #767
You could also create a file and put
[code]
into it. And load that one with `-c`

[2019-03-21 16:33] kokyriakidis commented on #767
Thank you very much! It would be very helpful for the user to set the parameter --max_cpus in the nextflow command. Thanks for the help!

[2019-03-21 16:35] kokyriakidis commented on #767
If I create a file like that, can I set the parameter --max_cpus in nextflow command in order to change the base.config default? (16 cores)

[2019-03-22 11:00] kokyriakidis opened #769 "Parallelisation of CreateRecalibrationTable"
Hello,
Since I saw this step uses only on core on my 20 core system, I searched on GATK forum and found this:
[code]
Do you think it could be something you could implement?

[2019-03-22 12:56] MaxUlysse commented on #769
That does seems interesting.
I'll look into it.

[2019-03-22 13:23] MaxUlysse opened #770 "Should we use -Y option for bwa mem?"
We're not using this -Y option for `bwa mem`, but I looked more into the GTAK best practice workflow, and they're using it.

So I'm wondering, should we use that or not?

[2019-03-22 14:56] MaxUlysse commented on #769
You can try https://github.com/MaxUlysse/Sarek/tree/ParallelizeMore
That should be a good start in improving all that

[2019-03-25 08:31] MaxUlysse opened #771 "Look into MultiQC report for multi patients TSV"
Look how it's like and fix whatever needs fixing.

[2019-03-25 13:07] kokyriakidis opened #772 "Should we include CADD annotations?"
Why we download whole_genome_SNVs without annotations?

[2019-03-25 13:32] MaxUlysse commented on #540
@nilesh-tawari
I did a small gist to get an interval file, provided you're in a folder with each chromosome
(like this bucket from AWS iGenomes: s3://ngi-igenomes/igenomes/Canis_familiaris/Ensembl/CanFam3.1/Sequence/Chromosomes/)

[code]

This should give you:
[code]

Which should be a working intervals file, but not optimized.
To improve it I'll cut out the NNNN parts.

I'm hoping this can help y

[2019-03-25 13:39] MaxUlysse commented on #772
Based on the CADD plugin doc, I though that you did not need the annotation to make it work.
We're actually still working on this particular plugins, do you think the annotations should be included as well?

[2019-03-25 16:08] kokyriakidis commented on #772
As a Pharmacist and a genome researcher, Annotation is extremely helpful in understanding how this genome disturbance affect other systems and how. Of course it works without annotation, but you miss the major functionality of this tool eg the relevant and truth information about this specific variation

[2019-03-28 01:01] jongtaek-kim commented on #739
@MaxUlysse I already have a panel of normal made and germline resource (af-only-gnomad) downloaded. It would be a plus for MuTect2 users to be able to run it with PON and germline resource easily within the Sarek.

[2019-03-28 14:06] MaxUlysse commented on #739
@jongtaek-kim we are currently working on it (actually @szilvajuhos is doing most of the job regarding PONs)
I'm hoping we should get that soonish

[2019-03-28 14:12] szilvajuhos commented on #739
Hej, to run ASCAT on exome you will need a separate file of SNPs that is covering the targeted

[2019-03-28 14:15] MaxUlysse commented on #763
From @szilvajuhos :

[2019-04-03 17:26] asura117 opened #779 "cache files"
Hi,
I am running build.nf through the do_all.sh to store all container files locally. However I get this error and the cache files are not downloaded. Can anyone suggest something

[code]

EDIT: add triple quotes

[2019-04-03 17:52] MaxUlysse commented on #779
I can see that the script did succeed, this is just a warning message that the variable is not set, you should have the singularity images in the `containers/` folder.
But I can see how this message is disturbing.
I'll try to remove it before the next release.

[2019-04-04 07:20] MaxUlysse commented on #779
@asura117 Did you find the singularity images in the `containers/` folder?

[2019-04-04 08:40] asura117 commented on #779
containers/
        4096 Apr  3 16:02 vepgrch38
        4096 Apr  3 16:02 vepgrch37
        4096 Apr  3 16:02 snpeffgrch38
        4096 Apr  3 16:02 snpeffgrch37
        4096 Apr  3 16:02 runallelecount
        4096 Apr  3 16:02 r-base
   163983360 Apr  3 17:42 runallelecount-latest.simg
   281681920 Apr  3 17:45 r-base-latest.simg
  2047881216 Apr  3 17:56 snpeffgrch38-latest.simg
  1193848832 Ap

[2019-04-04 09:12] MaxUlysse commented on #779
OK, so here they are :-D
I'm closing this issue, and I'll work on disabling these warnings.

[2019-04-04 09:12] #779 closed

[2019-04-04 09:21] asura117 commented on #779
Thanks

[2019-04-04 13:58] asura117 opened #780 "ERROR: resolved path doesnt match with open path"
Hi My main.nf exits with the following error:
[code]
I am running with singularity images installed locally and using necessary modified config files.
when i go to /work/11/9bf34e8a12305c98e2ec87bfdc1e2e and execute
bash .command.run , everything seems to work fine.

[2019-04-05 07:31] MaxUlysse commented on #780
Hi thanks a lot for the interest you have in Sarek.
I can see that you're having trouble for the first launch.
Can you give me more information, like:
What is the command line you used to launch Sarek?
What is in your config files?

[2019-04-05 10:28] asura117 commented on #780
[Command_line.txt](https://github.com/SciLifeLab/Sarek/files/3047434/Command_line.txt)
[containers.txt](https://github.com/SciLifeLab/Sarek/files/3047438/containers.txt)
[conf.txt](https://github.com/SciLifeLab/Sarek/files/3047446/conf.txt)

[nextflow.config.txt](https://github.com/SciLifeLab/Sarek/files/3047452/nextflow.config.txt)
[singularity-path.config.txt](https://github.com/SciLifeLab/Sarek

[2019-04-05 10:32] asura117 commented on #780
[command.run.txt](https://github.com/SciLifeLab/Sarek/files/3047468/command.run.txt)

[2019-04-06 09:47] asura117 commented on #780
Hi, does anyone have any suggestions. Thanks

[2019-04-08 12:29] MaxUlysse commented on #780
Hi,
Sorry for the late reply, I had tons of meetings recently.
It's quite strange that you managed to execute `.command.run` but that the process is not working.
Did you try removing `scratch = true` from your LSF config file?

[2019-04-08 12:49] asura117 commented on #780
Hi, No worries and thanks for looking into the issue. I removed and re ran but get same error:

Completed at: Mon Apr 08 13:46:35 BST 2019
Duration    : 16.8s
Success     : false
Exit status : 255
Error report: Error executing process > 'MapReads (79889-1)'

Caused by:
  Process `MapReads (79889-1)` terminated with an error exit status (255)

Command executed:

  bwa mem -R "@RG\tID:1\tPU:1\tSM:79

[2019-04-08 13:23] MaxUlysse commented on #780
I'm asking other people to help out on this one.
Currently, we think that it could be related to your Singularity installation.
FastQC is the most used tool in all our pipelines, so it's definitively the most tested process.
So at least, I'm pretty sure it's not directly a Sarek issue, but probably something due either to the container (but you managed to execute the `.command.run` that launch the

[2019-04-08 13:33] asura117 commented on #780
I was going to try other pipelines after I 've given up on sarek!
nf-core has no current germline pipeline at the moment, if I am correct there is one under development.
It has an rna-seq pipeline which is not useful for me but https://github.com/nf-core/exoseq is still not released.
So are you certain that the "resolved path..." error is not generated by Sarek/nextflow but is created by Singulair

[2019-04-08 13:57] MaxUlysse commented on #780
This error is definitively generated by Nextflow, but it's definitively not a Sarek one, I do think it's a Singularity one, but I'm afraid I can't be sure.

nf-core/exoseq development is on hold at the moment cf nf-core/exoseq#40

As far as I'm concerned our plan is to move Sarek to nf-core at some point, but no definitive plan yet.

[2019-04-08 14:10] asura117 commented on #780
Ok, thanks Maxime. Please let me know if you think of something for me to try e.t.c.

[2019-04-08 14:11] MaxUlysse commented on #780
Of course, I asked everyone I could think of to help me with that.
I'm hoping we'll figure something out.
Any chance you can use docker or conda instead of singularity ?

[2019-04-08 14:12] ewels commented on #780
@pditommaso - have you seen this before?
[code]

[2019-04-08 14:16] asura117 commented on #780
_Any chance you can use docker or conda instead of singularity ?_
Docker is not available on our HPC due to security issues.  Havent tried conda yet...

[2019-04-08 14:17] MaxUlysse commented on #780
Of course, that's why we're all using Singularity ;-)

Tell me how it goes

[2019-04-08 14:32] pditommaso commented on #780
This is a Singularity error message but I've never seen it before. Is something deleting the container image behind the scene?

[2019-04-09 10:42] silviamorins opened #782 "Missing hints for capital letters required"
Hi,
I was running the main.nf script as follows:

```nextflow run scilifelab/sarek/main.nf -r dev```

and it was repeatedly giving me as error:

`$ ./runMain.sh
N E X T F L O W  ~  version 19.01.0
Project `scilifelab/Sarek` contains uncommitted changes -- Cannot switch to revision: dev`

After different attempts, it turned out that the solution was to write the name with the correct upper case let

[2019-04-09 16:14] kokyriakidis opened #783 "Mix SIngle end and Paired end data"
Hello,
1) I have a sample sequenced both single end and paired end. SO I have 3 files for a sample. Can I use all of them?

2) Lets say I have 30 samples from 30 different patients. Can I run the Sarek pipeline ONCE LOCALLY and run the whole analysis for each sample? I do not wish to concatenate GVCFs

[2019-04-10 22:06] kokyriakidis opened #784 "Update to VEP 96"
It would be nice to update to VEP 96

[2019-04-11 09:33] MaxUlysse commented on #784
I'll try to push it in the next release.
You can expect it to be in `dev` soonish

[2019-04-11 09:39] MaxUlysse commented on #783
Hi,

So for your first question, Sarek was designed for paired end files, but the bwa process could be modify to account for that. I'm afraid it's not something that we would encounter often, so I don't think it'll be very high in my list of priorities, but I can help you make a PR if you want.

For your second question, that is possible if you specify well your TSV file.
For example follow: https

[2019-04-11 09:42] MaxUlysse commented on #782
I'm afraid this is more an NF issue, but I'll make a simple reproducible error, and make an issue on NF.
Thanks a lot for reporting this error.
I'm glad that we managed to find an easy fix for it.

[2019-04-11 10:11] jamie-alnasir commented on #780
Yes, it's definitely an error that is thrown by Sarek. It's in the GO language source files: prepare_linux.go which references a function in syscall_linux.go. It appears that it checks to see the input path provided to a container matches the path that the container is loaded from and uses SYS_READLINKAT. I wonder if it's to do with a symbolic link not matching the actual file?

[2019-04-11 15:52] kokyriakidis opened #785 "Update GATK TO 4.1.1.0 and include CNN"
It would be amazing to see an implementation of GATK CNN in this pipeline

[2019-04-11 21:06] kokyriakidis opened #786 "Target Bed for HaplotypeCaller"
I want to run HaplotypeCaller on specific target regions. I have downloaded the target region's bed file from Illumina but when I run germlineVC.nf with --targetBED option, HaplotypeCaller does calling on all regions on wgs interval file described in the genomes config file.

Shouldn't HaplotypeCaller run on only these target regions?

[2019-04-12 09:18] MaxUlysse commented on #786
From what I remember, it was more efficient to do the calls on the whole genome, and then filter out what was in the target regions.
I'll look more into it and came with a better explanation.

[2019-04-12 09:23] MaxUlysse commented on #785
I updated the list of tools that we want to consider: #666
GATK 4 will most likely be updated in one of our next releases

[2019-04-12 09:23] #785 closed

[2019-04-12 09:51] kokyriakidis commented on #786
From what I MAYBE have read from Geraldine, calling on whole genome instead of target regions, increase the noise and yield worse results. I will look into it again

[2019-04-12 10:06] apeltzer commented on #786
The Best Practices initially stated that yes. However, this might not be correct anymore - last time I saw this was with UnifiedGenotyper, that was using a totally different model than the newer HaplotypeCaller (+ CNN Filter is even more different)

[2019-04-12 10:07] szilvajuhos commented on #786
We are not calling through the all genome, we are leaving out centromeres and telomeres, also some nasty repeats and low complexity regions.
The repeats/wgs_calling_regions.bed should refer to our calling targets.

[2019-04-12 10:14] apeltzer commented on #786
That makes sense 👍

[2019-04-12 10:17] kokyriakidis commented on #786
@apeltzer Ok, maybe there is no problem in your approach BUT wouldn't it be A LOT QUICKER to do calling on the TargetBED positions specified?

[2019-04-12 10:22] szilvajuhos commented on #786
No, because for WES you have 200K+ targets: that means 4-5 times 200+ forks, directories, files, symlinks, etc. Just kills the cluster/node/filesystem.
At least killed ours ;)

[2019-04-12 10:30] kokyriakidis commented on #786
@szilvajuhos
Hahaha I haven't thought about that! Thank you very much for having tested all that!
So, the only thing left to increase the speed of the analysis is to use the Spark version of HaplotypeCaller in order to use all threads of the CPU.

[2019-04-12 10:38] szilvajuhos commented on #786
Indeed, likely that would be a better approach than the current architecture, but never played with that.

[2019-04-12 10:43] kokyriakidis commented on #786
GATK states that it is super easy to use the Spark version and can run on every system without much work. Have a look into it, it is something really worth the trouble.

[2019-04-12 10:45] MaxUlysse commented on #786
That is definitively something that we want to explore.
@alneberg mentionned it in #730

[2019-04-12 12:40] apeltzer commented on #786
I just out of interest checked it out: Might require to check whether the bundled GATK version is indeed a SPARK one, but otherwise seems to just require the addition of a single CLI parameter.

`--spark-master local[2]` (to use 2 cores on your local machine, given that SPARK is installed -

https://gatkforums.broadinstitute.org/gatk/discussion/11245/spark

If I read this accordingly, it might eve

[2019-04-20 15:04] kokyriakidis opened #791 "Cannnot annotate using CADD"
Hello, I was trying to annotate some files with VEP CADD but I always get an error:
[code]
The annotation step runs smooth when I do not specify the CADD plugin. Any thoughts?

--EDIT My bad I did not put the --profile singularity.

--EDIT2 Maybe you should add some documentation about the output of CADD plugin

[2019-04-20 18:48] kokyriakidis opened #792 "Annotation with both SnpEff and VEP"
What it the difference between the "merge" option and the "SnpEff,VEP"? Will I see different results?

[2019-04-23 07:56] MaxUlysse commented on #792
I'm guessing the documentation wasn't clear enough.
Sorry about that.

If you specify `snpeff,vep`, you'll get your VCFs annotated by `snpEff`, and by `VEP`, meaning one different annotation for each annotator.
If you specify `merge`, you'll get your VCFs first annotated by `snpEff`, then the resulting VCFs will be annotated by `VEP`, meaning final VCFs annotated by both annotators.

https://githu

[2019-04-23 07:57] MaxUlysse commented on #791
I'm glad you manage to make it work.
I'll be sure to update our documentation.

[2019-04-24 14:55] szilvajuhos commented on #739
Looks most of the Mutect2 calling process and filtering works OK. I will launch a full-blown test tomorrow, will take some time to complete checks with and without PON. Once ready, will make a PR, hopefully next week.

[2019-04-25 13:53] silviamorins opened #794 "Coverage 0.0X on whole exome sequencing data"
Hi,
I executed Sarek on whole exome sequencing data and in the MultiQC report, under General statistics, column "Coverage", I get values of 0.0X. I already chatted with @apeltzer about it: it is probably because, as said, I have sequences coming only from exons, and am missing all the rest of the base pairs in the genome.

I would expect the coverage calculation to take into account the fact that

[2019-04-25 14:03] apeltzer commented on #794
I'll do this :-)

[2019-04-25 14:05] silviamorins commented on #794
Thanks @apeltzer :-)

[2019-04-25 14:27] silviamorins opened #796 "Strange VCFTools graphs in MultiQC report"
Hi,
after running Sarek on whole exome sequencing data looking for somatic variants between tumor and normal cells, in the VCFTools session of the MultiQc report I get stange-looking heatmaps:
- if the input file is comparing indels or snvs of the two cell types, the value is 0 in all of the 4 regions of the graph (the whole is grey);
- if the input file contains only variants from either tumor or

[2019-04-26 08:18] apeltzer commented on #794
Done :-)

[2019-04-26 08:18] #794 closed

[2019-04-26 08:41] apeltzer opened #797 "fq.gz extension"
**Describe the bug**
When I try to analyze paired-end data with `.fq.gz` extension, this fails with a `null not found` error message.

**To Reproduce**

Use the `main.nf` on the current `dev` branch to reproduce this. Just name the files `.fq.gz`.

**Expected behavior**
Normal run :-)

**System (please complete the following information):**
 - Hardware: Cluster
 - Executor: Slurm
 - OS: CentOS
 -

[2019-04-26 09:00] MaxUlysse commented on #797
As you prefer, I think it's a simple fix, I can do it fast

[2019-04-26 09:02] apeltzer commented on #797
Then if you want to have a go :-)

[2019-04-26 11:22] #797 closed

[2019-05-03 06:34] szilvajuhos commented on #739
OK, the trick is that PONs and WES are not happy together. I have to convert GetPileupSummaries still to a scatter-gather and we have to live with WGS-only Mutect2 for a while.
The problem is that MergeMutectStats normalises for the whole genome in the moment.

[2019-05-03 08:04] MaxUlysse commented on #739
Which GATK4 are you using?

[2019-05-03 08:09] szilvajuhos commented on #739
/opt/conda/envs/sarek-2.3/share/gatk4-4.1.1.0-0/gatk-package-4.1.1.0-local.jar that is in the sarek-conda.simg downloaded recently (last week or so)

[2019-05-03 08:12] MaxUlysse commented on #739
it seems like there is now a 4.1.2.0-0 version, do you want to try that?

[2019-05-03 08:22] szilvajuhos commented on #739
There are some Mutect2 improvements in 4.1.2x, but right now those are not needed: https://github.com/broadinstitute/gatk/releases/tag/4.1.2.0 . For the scatter-gather implementation 4.1x is enough right now.

[2019-05-10 09:31] szilvajuhos commented on #739
More or less ready for initial PR, writing documentation and submitting.

[2019-05-10 09:32] #739 closed

[2019-05-16 09:20] alneberg opened #802 "RunVCFTools and RunBcftoolsStats are run twice for the same input"
**Describe the bug**
RunVCFTools and RunBcftoolsStats are run both within germlineVC and annotation. From what I understand this is on the same input. Additionally, RunVCFTools is extremely slow for the gvcf file (almost 4 hours). See attached image of the timeline for germlineVC using tools Manta, Strelka and HaplotypeCaller.

![Screen Shot 2019-05-16 at 11 16 42](https://user-images.githubuserco

[2019-05-16 12:03] MaxUlysse commented on #802
OK, so I'll disable VCF tools for g.vcf
Do you want that for 2.3.FIX2, 2.4 or 2.5 ?

[2019-05-23 23:53] Dharmendra-G-1 opened #804 "containerOverrides for AWS BATCH nextflow"
Hello,
I am trying to run Sarek from files stored at AWS s3 using AWS Sagemaker. First I am starting with building a reference as I work on the nonhuman reference.

[code]

I see it launched with above command, I get the following error, can anyone tell me what am I missing to get only build.nf launch while avoiding annotate.nf, germlineVC.nf,main.nf, runMultiQC.nf and somaticVC.nf ?
[code]

anoth

[2019-05-24 08:39] MaxUlysse commented on #804
I'm afraid I have never use the containerOverrides, or Sagemaker when playing with AWS

I'm invoking the AWS experts, our own A-Team @alneberg @apeltzer @KochTobi

Have you look at @apeltzer blog post about running pipelines on AWS: https://apeltzer.github.io/post/01-aws-nfcore/

On a separate note, we're currently porting Sarek to nf-core, and putting all the scripts into one, so it'll be easier

[2019-05-25 13:46] Dharmendra-G-1 commented on #804
It is great to hear that you are importing Sarek to nf-core.  I did look into that the blog by @apeltzer but noting is mention on AWS Batch containerOverrides, it is in troubleshooting mode. I believe half of the blog problems can be solved by using AWS Sagemaker to provide the parameters. If you or @apeltzer any guidelines on passing parameters via containerOverride on AWS Batch please let us kno

[2019-06-04 08:42] silviamorins opened #806 "Error executing process ConcatVCF"
I am running `nextflow run scilifelab/sarek/somaticVC.nf -r dev` with `--tools strelka,mutect2`, and I bump into this error:
[code]
both the `.command.log` and `.command.err` in the corresponding working directory are empty. I am not sure what is going on

**System (please complete the following information):**
 - Hardware: Cluster
 - Executor: slurm
 - OS: Linux Ubuntu
 - Version 18.04

**Nextflo

[2019-06-04 08:46] MaxUlysse commented on #806
Is this WES or WGS?

[2019-06-04 08:56] silviamorins commented on #806
WES

[2019-06-04 08:59] MaxUlysse commented on #806
Did you provide a targetBed?
Are all the vcf to be merged in this work directory containing variants, or are they empty?

[2019-06-04 09:02] MaxUlysse commented on #804
Quick question, have you tried making a new profile with specific configuration files related to your specific genome?
It seems to me it might be easier to change that at this level than with containerOverride

[2019-06-04 09:11] silviamorins commented on #806
As far as I know no, I didn't, but I might not know what it means.
All of the files contain variants, or at least the heather (I found one that does not report any variant in that particular chromosome region).

[2019-06-04 10:27] silviamorins commented on #806
Update: I ran the germline analysis again, in case it provided a wrong/incomplete output. It cached all the process and never started any computing, but submitting the somatic analysis afterwards completed with no errors. I can't really tell where the problem was though.

[2019-06-04 11:21] MaxUlysse commented on #806
OK, good news then ;-)
I'll try if I can figure out anything regarding that matter.
In the meanwhile, I'll close this issue

[2019-06-04 11:21] #806 closed

[2019-06-04 12:42] MaxUlysse commented on #806
Now I remember what this `exit code 141` is about, it's a `SIGPIPE`.
Usually you should have this:
[code]
in the base config fail, that should ensure relaunch of this process when failed with this exit code.
No idea why it faild in your case, but I'll keep that in mind.

[2019-06-04 12:44] silviamorins commented on #806
Thanks. Indeed, the process was relaunched the last time that I (successfully) ran `somaticVC.nf`.

[2019-07-07 15:00] kokyriakidis opened #807 "Huge problem with pipeline on Happlotype caller"
Running the pipeline with singularity, either on hg38 or hg19, gets wrong vcf files. I get only a few SNPs on specific chromosomes (e.g. 10 SNPs on chr4).

I get this behaviour either using wgs interval list or using target exome file.

I am running -r dev.

The command is:
[code]

Running the same commands with the same files and same data 2 months ago gave the correct results!

EDIT: The MASTER

[2019-07-07 17:35] kokyriakidis commented on #786
@apeltzer Did you try out spark?

[2019-07-25 12:11] fw1121 opened #808 "BWA map error"
When run
[code]
obtain error:
[code]
however, change dir to error message  suggested dir:
[code]
then run:
[code]
i.e.

[code]
everything is OK,

PS. input raw data size:
- xx_R1.fastq.gz: 1.4G
- xx_R2.fastq.gz: 1.5G

 any suggestion?

**System (please complete the following information):**
 - Hardware: Desktop
 - Executor:  local
 - OS: CentOS Linux
 - Version: 7

**Nextflow (please complete the

[2019-07-25 12:20] MaxUlysse commented on #808
Hi @fw1121,
thanks a lot for your interest and for reporting this issue.

We're currently porting sarek to nf-core: https://github.com/nf-core/sarek/tree/dev

I do remember running into a similar error, once or twice, but I never got it since I'm working on this nf-core port where I included the "-K 100000000" parameter for BWA to fix the number of reads processed by bwa mem, as chunk size can aff

[2019-07-25 12:43] fw1121 commented on #808
Hi @MaxUlysse ,
    I have upload my demo tsv file, and all data include in this was obtained from NCBI, you can have a try,

Best wishes,
[multiple.tsv.zip](https://github.com/SciLifeLab/Sarek/files/3431597/multiple.tsv.zip)

Wei

[2019-07-25 15:31] fw1121 commented on #808
Hi @MaxUlysse ,
As you suggestion, change the command to
[code]
still not working,

Best wishes,
Wei

[2019-08-04 06:27] DoaneAS opened #809 "ASCAT loci for download link timeout"
**Describe the bug**
 The url for the ASCTA loci file for GRCh38 as posted in the documentation appears to be dead.
https://export.uppmax.uu.se/b2015110/caw-references/b37/1000G_phase3_20130502_SNP_maf0.3.loci.tar.bz2

**To Reproduce**
Steps to reproduce the behavior:
1.
[code]

2. See error **Please provide your error message**

[code]

**Expected behavior**
A clear and concise description of wha

[2019-08-05 07:56] MaxUlysse commented on #809
Hi @DoaneAS
Thanks a lot for your interest in this project.

We're currently porting this pipeline into the [nf-core](https://nf-co.re/) organisation: https://github.com/nf-core/sarek

The file you're interested in is at: https://export.uppmax.uu.se/sllstore2017079/Sarek/1000G_phase3_20130502_SNP_maf0.3.loci.gc

I'll update the documentation (cf #810)

Thanks again for finding and reporting this i

[2019-08-05 09:12] DoaneAS commented on #809
Thank you @MaxUlysse, much appreciated!

And yes, I'm a big fan of [nf-core](https://nf-co.re/), and helped a little with the ATAC-seq pipeline awhile back.

[2019-08-05 09:12] #809 closed

[2019-08-15 16:17] dingxm commented on #763
Hi,
We are tyring to analyze exome data for copy number.  The exome data has extended probes covering regions outside of the exomes. It seems that last year ASCAT could not use exome data without pre-processing, is this still true or is there a version that deals with Exome data now?

Also, can pooled normals be used in place of matched normal?  If so, how could this be done.

Thank You,

[2019-08-16 09:31] szilvajuhos commented on #763
Hej,
If you have a BED file that is covering your WES target, I would recommend to make a .loci file i.e. by filtering the latest dbSNP for common biallelic SNPs that are overlapping your target. You have to have quite a few loci positions (since the target is smaller and the genome is not covered evenly) to make sure you will still have enough SNPs. @malinlarsson is better in playing with it, the

[2019-08-22 14:14] silviamorins opened #812 "No variants IDs annotated"
Hi,
this is not really a bug but more a hint: I have performed germline and somatic calls analysis with Sarek, running also the `annotate.nf` script, and the resulting `.vcf` files don't contain any variant ID annotated - I don't think this should be the case, as I see plenty of them in, for instance, `dbsnp_138.b37.vcf`.

**To Reproduce**
Steps to reproduce the behavior:
1. Command line 'nextflow

[2019-09-05 11:59] nicweb opened #813 "VEP only annotates Tumor samples"
**Describe the bug**
Annotating a somatic/germline project using either  --tools merge or VEP only annotates the tumor samples of the samples. The normal samples have only SNPEff annotations (using merge) or none (using VEP).

Example output using "merge":

_Annotation/0024-1/snpEff:_
[code]

_Annotation/0024-1/VEP:_
[code]

**Expected behavior**
Annotation using VEP of all available vcf files.

*

[2019-09-05 12:13] MaxUlysse commented on #813
Hi,
Thanks a lot for creating this issue.
As you probably know we're working on porting sarek to nf-core.
I do think this bug was fixed while doing some refactoring on nf-core/sarek:dev.
Will it be possible for you tu use this one instead?
We will hopefully manage to make a release soon.
I'll try to fix all the bugs in the scilifelab/sarek:master then.
All the best,
Maxime

[2019-09-06 06:40] nicweb commented on #813
Hi,
thanks for pointing this out.

I took a look at the nf-core/sarek version, but I don't see any obvious way in the docs to run the annotation only. Is there any way to achieve this? Thanks

[2019-09-06 06:50] MaxUlysse commented on #813
I'll try to make it more obvious in the docs, but is simply with:
`--sample /path/to/vcf/*.vcf --step annotate` or `--sample /path/to/vcf/*.vcf.gz --step annotate`

cf:
https://github.com/nf-core/sarek/blob/dev/docs/input.md#vcf-files-for-annotation
https://github.com/nf-core/sarek/blob/dev/docs/usage.md#--sample

[2019-09-06 06:55] nicweb commented on #813
Thanks I'll try that

[2019-09-26 12:09] lconde-ucl opened #814 "Errors running sarek with Nextflow 19.07 - command 'ps' not found"
Hi,

I am having problems running Sarek with the latest version of nextflow (19.07). The error I get is:

[code]

The pipeline runs fine with the same data using an older version of nextflow (19.01).

I guess this is a nextflow-related issue (someone found the same problem here: https://github.com/nextflow-io/nextflow/issues/1289) but I wonder if this is something that can be fixed from within sar

[2019-09-26 13:02] MaxUlysse commented on #814
Hi,
We're currently finishing the transfer of Scilifelab/Sarek to [nf-core/sarek](https://github.com/nf-core/sarek/).
If it's possible for you, you can try out the current `dev` branch which is pretty stable as we're in the process of making our first release on nf-core (cf https://github.com/nf-core/sarek/pull/19).
Otherwise, I do believe that your issue is due to the fact that `procps` is missin

[2019-09-26 13:15] lconde-ucl commented on #814
Hi Maxime,

thanks for your reply, I'll wait for the transfer to finish and in the meantime I will run the current Sarek (v2.3.FIX1) with nextflow 19.01. This works fine (it only fails with the new nextflow, v19.07)

Not sure the lack of ps is the issue though, I downloaded Sarek v2.3.FIX1 as well as the containers (sarek, r-base, runallelecount...) just a couple of days ago, and they all seem to

[2019-09-26 14:38] MaxUlysse commented on #814
OK, that is strange indeed.
Maybe we do need `uname`, `grep` and `date` as well...

[2019-09-27 10:07] lconde-ucl commented on #814
sarek-latest.simg indeed has uname, grep and date. I don't think this is related to the container, as the same container works well with nextflow 19.01.
I'll try to send an example .command.run from 19.01 and another from 19.07, as I guess that's the key

[2019-09-27 14:56] lconde-ucl commented on #814
Attaching here the .comman.run files for a Sarek 'RunFastQC' process.

One was obtained after running Sarek v2.3.FIX1 with nextflow v19.07.0. It failed immediately in that process with the error shown in the first message:

[code]

The other one was obtained after running the same Sarek.v2.3.FIX1 pipeline (i.e, same main.nf, same containers, same data, etc) but using nextflow 19.01.0 instead of 19

[2019-09-29 16:10] MaxUlysse commented on #814
Given your error message, I would say that this line is the issue, but I still find it strange that it's not working if there is ps in these container...
[code]
I'll try to look more into it, with both these version during the week whenever I can find some time.
All the best,
Maxime

[2019-09-29 19:13] lconde-ucl commented on #814
Hi Maxime,
thanks, no rush! And yes, I can confirm that the container has ps:
[code]
I downloaded only days ago using:
`singularity build sarek-latest.simg docker://maxulysse/sarek:latest`

Best regards
Lucia

[2019-11-11 14:02] #754 closed

[2019-11-11 14:14] MaxUlysse commented on #420
I don't think we had that issue in a while, so closing it
If any new issue related to that were to arise from the dead, we will mention this one from the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2019-11-11 14:14] #420 closed

[2019-11-11 14:16] MaxUlysse commented on #205
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2019-11-11 14:16] #205 closed

[2019-11-11 14:17] MaxUlysse commented on #242
Closing it, we'll see if the need for that arise within the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2019-11-11 14:17] #242 closed

[2019-11-11 14:18] MaxUlysse commented on #327
Closing, but @szilvajuhos is actively working on it on [nf-core/sarek](https://github.com/nf-core/sarek/), so no longer an issue

[2019-11-11 14:18] #327 closed

[2019-11-11 14:19] MaxUlysse commented on #407
Working actively on it on [nf-core/sarek](https://github.com/nf-core/sarek/), so no longer an issue

[2019-11-11 14:19] #407 closed

[2019-11-11 14:20] MaxUlysse commented on #511
Transferred to [nf-core/sarek](https://github.com/nf-core/sarek/)

[2019-11-11 14:20] #511 closed

[2019-11-11 14:21] MaxUlysse commented on #540
Documentation is done on [nf-core/sarek](https://github.com/nf-core/sarek) (all genomes are on AWS iGenomes)

[2019-11-11 14:21] #540 closed

[2019-11-11 14:22] MaxUlysse commented on #755
Done

[2019-11-11 14:22] #755 closed

[2019-11-11 14:22] MaxUlysse commented on #695
Done on [nf-core/sarek](https://github.com/nf-core/sarek)

[2019-11-11 14:22] #695 closed

[2019-11-11 14:23] MaxUlysse commented on #559
Done on [nf-core/sarek](https://github.com/nf-core/sarek)

[2019-11-11 14:23] #559 closed

[2019-11-11 14:24] MaxUlysse commented on #813
Fixed on [nf-core/sarek](https://github.com/nf-core/sarek)

[2019-11-11 14:24] #813 closed

[2019-11-11 14:24] MaxUlysse commented on #802
Done on [nf-core/sarek](https://github.com/nf-core/sarek)

[2019-11-11 14:24] #802 closed

[2019-11-11 14:25] #792 closed

[2019-11-11 14:25] #791 closed

[2019-11-11 14:26] #786 closed

[2019-11-11 14:26] MaxUlysse commented on #784
Done on [nf-core/sarek](https://github.com/nf-core/sarek)

[2019-11-11 14:26] #784 closed

[2019-11-11 14:27] #782 closed

[2019-11-11 14:27] #772 closed

[2019-11-11 14:27] MaxUlysse commented on #769
Done on [nf-core/sarek](https://github.com/nf-core/sarek)

[2019-11-11 14:27] #769 closed

[2019-11-11 14:28] #767 closed

[2019-11-11 14:28] #764 closed

[2019-11-11 14:28] #762 closed

[2019-11-11 14:29] #759 closed

[2019-11-11 14:29] MaxUlysse commented on #713
Fixed on [nf-core/sarek](https://github.com/nf-core/sarek)

[2019-11-11 14:29] #713 closed

[2019-11-11 14:30] MaxUlysse commented on #668
Done on [nf-core/sarek](https://github.com/nf-core/sarek)

[2019-11-11 14:30] #668 closed

[2019-11-11 14:32] MaxUlysse commented on #558
Closing due to inactivity and moving to [nf-core/sarek](https://github.com/nf-core/sarek/)

[2019-11-11 14:32] #558 closed

[2019-11-11 14:33] MaxUlysse commented on #581
Closing due to inactivity and moving to [nf-core/sarek](https://github.com/nf-core/sarek/)

[2019-11-11 14:33] #581 closed

[2019-11-11 14:33] MaxUlysse commented on #643
Closing due to inactivity and moving to [nf-core/sarek](https://github.com/nf-core/sarek/)

[2019-11-11 14:33] #643 closed

[2019-11-11 14:34] MaxUlysse commented on #658
@szilvajuhos is working actively on this in [nf-core/sarek](https://github.com/nf-core/sarek/), so closing issue here

[2019-11-11 14:34] #658 closed

[2019-11-11 14:37] MaxUlysse commented on #814
Hi @lconde-ucl I'm sorry, I did not really found time to look into it since we moved sarek to [nf-core/sarek](https://github.com/nf-core/sarek/).
Did you try out the new version?
Or would you still want a fix on the SciLifeLab/Sarek repo?

[2019-11-11 14:38] MaxUlysse commented on #812
Closing due to moving to [nf-core/sarek](https://github.com/nf-core/sarek/).
If you still have the issue @silviamorins can you please open a new one on the nf-core repo?
All the best,
Maxime

[2019-11-11 14:38] #812 closed

[2019-11-11 14:39] MaxUlysse commented on #808
Closing due to moving to [nf-core/sarek](https://github.com/nf-core/sarek/).
If you still have the issue @fw1121  can you please open a new one on the nf-core repo?
All the best,
Maxime

[2019-11-11 14:39] #808 closed

[2019-11-11 14:40] MaxUlysse commented on #807
Closing due to moving to [nf-core/sarek](https://github.com/nf-core/sarek/).
If you still have the issue @kokyriakidis  can you please open a new one on the nf-core repo?
All the best,
Maxime

[2019-11-11 14:40] #807 closed

[2019-11-11 14:40] MaxUlysse commented on #804
Closing due to moving to [nf-core/sarek](https://github.com/nf-core/sarek/).
If you still have the issue @Dharmendra-G-1 can you please open a new one on the nf-core repo?
All the best,
Maxime

[2019-11-11 14:40] #804 closed

[2019-11-11 14:44] MaxUlysse commented on #796
Closing due to moving to [nf-core/sarek](https://github.com/nf-core/sarek/).
If you still have the issue @silviamorins can you please open a new one on the nf-core repo?
All the best,
Maxime

[2019-11-11 14:44] #796 closed

[2019-11-11 14:45] MaxUlysse commented on #783
Closing due to moving to [nf-core/sarek](https://github.com/nf-core/sarek/).
If you still have the issue @kokyriakidis  can you please open a new one on the nf-core repo?
All the best,
Maxime

[2019-11-11 14:45] #783 closed

[2019-11-11 14:45] MaxUlysse commented on #780
Closing due to moving to [nf-core/sarek](https://github.com/nf-core/sarek/).
If you still have the issue @asura117  can you please open a new one on the nf-core repo?
All the best,
Maxime

[2019-11-11 14:45] #780 closed

[2019-11-11 14:48] lconde-ucl commented on #814
Hi Max, thanks for getting back to me. No worries, I'm trying the nf-core version and I will probably just keep using that one.

Since you are here, I have a quick question regarding the new version (nf-core/sarek) that maybe you can easily answer: why the FilterMutect2Call step is only run when a PON is provided? Can this be changed so that is run always? It makes no sense to me to run mutect2 on

[2019-11-11 14:51] MaxUlysse commented on #814
It can probably be done, I'll ask @szilvajuhos about this one.

[2019-11-11 20:48] apeltzer commented on #730
Might simply work like this:
https://software.broadinstitute.org/gatk/documentation/article?id=11245

Copying the text from there over here:

You don't need a Spark cluster to run Spark-enabled GATK tools!

If you're working on a "normal" machine (even just a laptop) with multiple CPU cores, the GATK engine can still use Spark to create a virtual standalone cluster in place, and set it to take adv

[2019-11-11 20:48] apeltzer commented on #730
Should be possible to run e.g. picard markduplicates like this, same for some other stuff such as BaseRecalibrator and HaplotypeCaller.

[2019-11-11 20:55] apeltzer commented on #730
https://gatkforums.broadinstitute.org/gatk/discussion/23441/markduplicatespark-is-slower-than-normal-markduplicates

We should really look into this!

[2019-11-11 20:57] apeltzer commented on #730
Apparently it benefits when not sorting reads prior MarkDuplicates and takes direct BWA Mem BAM output. So we should really try it :-)

[2019-11-11 21:04] apeltzer commented on #730
We should move this over to nf-core/sarek ;)

[2019-11-12 08:41] #730 closed

[2019-11-12 08:50] MaxUlysse commented on #814
OK, so basically it's possible to enable that, but I'm not sure it's such a good idea.
I think the PON really does help out in the filtering, so I'm not sure what you would end up with.
If you really want that, I'll enable it with a warning.
But I'd advice against it.

[2019-11-12 11:00] lconde-ucl commented on #814
Hi Max,

Thanks a lot. Yes, I understand that using a PON is recommended and is definitely of great help when you don't have matching normals. But when you do have matching tumour/normal pairs, it will just be another filter for systematic sequencing/protocol/pipeline artifacts.

But regardless if you use a PON or not, the filtering ("FilterMutectCalls" step) has to be done anyway, otherwise "mute

[2019-11-12 11:52] MaxUlysse commented on #814
Closing issue, as a new one has been opened on [nf-core/sarek](https://github.com/nf-core/sarek)

[2019-11-12 11:52] #814 closed

[2020-01-02 15:40] egenomics opened #815 "error running the test"
Hi,
I am trying to use sarek in a local workstation. After installing singularity and docker, and pulling the Sarek-test I obtain the following error when I try to execute it:

**jl@lynx:/soft/Sarek-test$ nextflow run build.nf --outDir References/smallGRCh37   --refDir Sarek-data/reference --tag latest   -profile singularity**

N E X T F L O W  ~  version 19.10.0
Launching `build.nf` [sad_boyd] -

[2020-01-03 07:20] MaxUlysse commented on #815
Hi,
I'm sorry, I'm on vacation and have a less than reliable connection.

We recently ported sarek to nf-core: https://github.com/nf-core/sarek so I'll recommend you have a look at it. There are lots of improvement.

But if you still want to use this version I'll recommend using --tag 2.3 or 2.3FIX1 instead.

All the best,
Maxime

[2020-01-03 08:10] egenomics commented on #815
Hi,
Good, I will try that one :)
However I have a question, why singularity was prefered before nf-core and now docker is favoured?

Best,
JL

[2020-01-05 15:13] apeltzer commented on #815
Hi JL!

the profiles in the nf-core version should load Singularity and pull the Docker Image, giving you the same behaviour. In other words, we only store the Docker Image but users can use both Docker directly or Singularity that can convert the docker image "on-the-fly" to a Singularity container without you noticing 👍

[2020-01-17 09:28] MaxUlysse commented on #815
@egenomics Any luck with nf-core/sarek?

[2020-01-17 09:28] #815 closed

[2020-01-27 12:41] MaxUlysse commented on #448
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 12:41] #448 closed

[2020-01-27 12:46] MaxUlysse commented on #513
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 12:46] #513 closed

[2020-01-27 12:49] MaxUlysse commented on #550
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 12:49] #550 closed

[2020-01-27 12:51] MaxUlysse commented on #622
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 12:51] #622 closed

[2020-01-27 12:52] MaxUlysse commented on #623
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 12:52] #623 closed

[2020-01-27 12:54] MaxUlysse commented on #626
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 12:54] #626 closed

[2020-01-27 12:57] MaxUlysse commented on #714
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 12:57] #714 closed

[2020-01-27 12:59] MaxUlysse commented on #664
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 12:59] #664 closed

[2020-01-27 13:01] MaxUlysse commented on #666
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 13:01] #666 closed

[2020-01-27 13:04] MaxUlysse commented on #670
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 13:04] #670 closed

[2020-01-27 13:17] MaxUlysse commented on #687
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 13:17] #687 closed

[2020-01-27 13:19] MaxUlysse commented on #688
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 13:19] #688 closed

[2020-01-27 13:21] MaxUlysse commented on #761
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 13:21] #761 closed

[2020-01-27 13:27] MaxUlysse commented on #763
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 13:27] #763 closed

[2020-01-27 13:28] MaxUlysse commented on #770
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 13:28] #770 closed

[2020-01-27 13:29] MaxUlysse commented on #771
Transferred to the new [nf-core/sarek](https://github.com/nf-core/sarek/) repo

[2020-01-27 13:29] #771 closed